<%- include ("../partials/header") %>

    <div class="container-fluid px-5 pt-2">
        <section id="form">
            <form id="myForm" class="needs-validation" novalidate action="/student/industry_connect"
                data-isinsertmode=<%=isInsertMode%>>

                <div class="row data-row">
                    <div class="col-md-8 mb-3">
                        <h4 class="mb-3 title">Academia/Industry Connect Activities Attended Data Entry</h4>
                    </div>
                    <div class="col-md-4 mb-3 report">
                        <a href="/student/search" class="btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-md-6 mb-3">
                        <label class="required">Topic</label>
                        <input type="text" name="topic" class="form-control" required>
                        <div class="invalid-feedback">
                            Valid topic is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="required">Attended At</label>
                        <input type="text" name="attendedAt" class="form-control" required>
                        <div class="invalid-feedback">
                            Valid location is required.
                        </div>
                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-md-6 mb-3">
                        <label class="required">Activity Name</label>
                        <input type="text" name="activityName" class="form-control" required>
                        <div class="invalid-feedback">
                            Valid activity name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="required">Objectives</label>
                        <input type="text" name="objectives" class="form-control" required>
                        <div class="invalid-feedback">
                            Valid objectives required.
                        </div>
                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-md-6 mb-3">
                        <label class="required">Start Date</label>
                        <input type="date" name="startDate" class="form-control date__control start__date" required>
                        <div class="invalid-feedback">
                            Valid start date is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="required">End Date</label>
                        <input type="date" class="form-control date__control end__date" name="endDate" required>
                        <div class="invalid-feedback">
                            Valid end date is required.
                        </div>

                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-md-6 mb-3">
                        <label class="required">Activity Type</label>
                        <select name="activityType" class="custom-select d-block w-100" id="selectBox"
                            onchange="changeFunc();" required>
                            <option value="">Choose...</option>
                            <option>Training Programmes</option>
                            <option>Guest Lecture</option>
                            <option>Expert Lecture(Industry Connect)</option>
                            <option>Workshops</option>
                            <option>Seminars</option>
                            <option>FDP</option>
                            <option>Conference</option>
                            <option>Symposium</option>
                            <option>Industry Visits</option>
                            <option>NCC</option>
                            <option>NSS</option>
                            <option>Placement Talk</option>
                            <option value="others">Others</option>
                        </select>
                        <input name="activityType" placeholder="Mention Here..." class="form-control other-text"
                            type="text" style="display: none" id="textboxes">
                        <div class="invalid-feedback">
                            Please select a valid activity type.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="required">Activity Level</label>
                        <select name="activityLevel" class="custom-select d-block w-100" required>
                            <option value="">Choose...</option>
                            <option>National</option>
                            <option>International</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid activity level.
                        </div>
                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-md-6 mb-3">
                        <label class="required">Benefits in terms of learning/Skills/Knowledge obtained</label>
                        <input type="text" name="benefits" class="form-control" required>
                        <div class="invalid-feedback">
                            Valid duration is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>COE</label>
                        <!-- COE -->
                        <%- include ("../partials/coe") %>

                            <div class="invalid-feedback">
                                Please select a valid type.
                            </div>

                    </div>
                </div>



                <div class="row data-row">
                    <div class="col-md-12 mb-3">
                        <%- include ("../partials/description") %>


                            <div class="submit-button">
                                <%if(isInsertMode){%>
                                    <button class="btn btn-primary btn-lg btn-block buttons" type="submit">
                                        Submit</button>
                                    <%} else{%>
                                        <button class="btn btn-secondary btn-lg btn-block buttons" type="submit">
                                            Update</button>
                                        <span id='variableJSON' hidden>
                                            <%= JSON.stringify(data); %>
                                        </span>
                                        <%}%>
                            </div>
                    </div>
                </div>

            </form>
        </section>


    </div>

    <!-- Footer -->
    <%- include ("../partials/footer") %>


        <script type="text/javascript" src="/js/date.js"></script>


        </body>

        </html>