<%- include ("../partials/header") %>


  <div class="container-fluid px-5 pt-2">

    <section id="form">
      <form id="myForm" class="needs-validation" novalidate action="/student/awards_nss"
        data-isinsertmode=<%=isInsertMode%>>


        <!-- Header Section -->

        <div class="row data-row">
          <div class="col-md-8 mb-3">
            <h4 class="mb-3 title">Awards & Achievements NSS/NCC Data Entry</h4>
          </div>
          <div class="col-md-4 mb-3 report">
            <a href="/student/search" class="btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>
        </div>
        <div class="row data-row">
          <div class="col-md-6 mb-3">
            <label class="required">Awarded Date</label>
            <input type="date" name="awardedDate" class="date__control form-control" required>
            <div class="invalid-feedback">
              Valid date is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="required">Group</label>
            <select name="grp" class="custom-select d-block w-100" required>
              <option value="">Choose...</option>
              <option>NSS</option>
              <option>NCC</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid result.
            </div>
          </div>
        </div>
        <div class="row data-row">
          <div class="col-md-6 mb-3">
            <label class="required">Level</label>
            <select name="level" class="custom-select d-block w-100" required>
              <option value="">Choose...</option>
              <option>College</option>
              <option>Inter-college</option>
              <option>State</option>
              <option>University</option>
              <option>National</option>
              <option>International</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid level.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="required">Result</label>
            <select name="result" class="custom-select d-block w-100" required>
              <option value="">Choose...</option>
              <option>Winner</option>
              <option>Participated</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid result.
            </div>
          </div>
        </div>
        <div class="row data-row">
          <div class="col-md-12 mb-3">
            <div class="form-group">
              <label>COE</label>

              <!-- COE -->
              <%- include ("../partials/coe") %>
            </div>

          </div>
        </div>

        <div class="row data-row">
          <div class="col-md-12 mb-3">
            <%- include ("../partials/description") %>


              <div class="submit-button">
                <%if(isInsertMode){%>
                  <button class="btn btn-primary btn-lg btn-block buttons" type="submit">
                    Submit</button>
                  <%} else{%>
                    <button class="btn btn-secondary btn-lg btn-block buttons" type="submit">
                      Update</button>
                    <span id='variableJSON' hidden>
                      <%= JSON.stringify(data); %>
                    </span>
                    <%}%>
              </div>
          </div>
        </div>




      </form>

    </section>

  </div>

  <!-- Footer -->

  <%- include ("../partials/footer") %>

    <script type="text/javascript" src="/js/textbox.js"></script>
    <script type="text/javascript" src="/js/date.js"></script>


    </body>

    </html>