<%- include ("../partials/header") %>

    <div class="container-fluid px-5 pt-2">
        <section id="form">
            <form id="myForm" class="needs-validation" novalidate action="/student/exchange_program"
                data-isinsertmode=<%=isInsertMode%>>

                <div class="row data-row">
                    <div class="col-md-8 mb-3">
                        <h4 class="mb-3 title">Exchange Program Data Entry</h4>
                    </div>
                    <div class="col-md-4 mb-3 report">
                        <a href="/search" class="btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-md-6 mb-3">
                        <label class="required">University/College Name</label>
                        <input type="text" name="collegeName" class="form-control" required>
                        <div class="invalid-feedback">
                            Valid university/college name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="required">Name of the program</label>
                        <input type="text" name="programName" class="form-control" required>
                        <div class="invalid-feedback">
                            Valid program name is required.
                        </div>
                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-md-6 mb-3">

                        <label class="required">Start Date</label>
                        <input type="date" name="startDate" class="date__control start__date form-control" required>
                        <div class="invalid-feedback">
                            Valid start date is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="required">End Date</label>
                        <input type="date" class="date__control end__date form-control" name="endDate" required>
                        <div class="invalid-feedback">
                            Valid end date is required.
                        </div>

                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-md-12 mb-3">
                        <label>COE</label>
                        <!-- COE -->
                        <%- include ("../partials/coe") %>

                            <div class="invalid-feedback">
                                Please select a valid type.
                            </div>

                    </div>
                </div>



                <div class="row data-row">
                    <div class="col-md-12 mb-3">
                        <%- include ("../partials/description") %>


                            <div class="submit-button">
                                <%if(isInsertMode){%>
                                    <button class="btn btn-primary btn-lg btn-block buttons" type="submit">
                                        Submit</button>
                                    <%} else{%>
                                        <button class="btn btn-secondary btn-lg btn-block buttons" type="submit">
                                            Update</button>
                                        <span id='variableJSON' hidden>
                                            <%= JSON.stringify(data); %>
                                        </span>
                                        <%}%>
                            </div>
                    </div>
                </div>


            </form>
        </section>


    </div>

    <!-- Footer -->
    <%- include ("../partials/footer") %>


        <script type="text/javascript" src="/js/date.js"></script>


        </body>

        </html>